
sim/results/*
!sim/results/waveforms.vcd
!sim/results/cache_stats.csv
!sim/results/hit_miss_analysis.txt
!sim/results/*_sim_log.txt
!sim/results/*_elab_log.txt
sim/results/waveforms/*
tb/trace_select.svh
*.jou
*.pb
*.wdb
xsim.dir/
.Xil/
webtalk*.jou
webtalk*.log
xsim.log
xvlog.log
xelab.log
__pycache__/
*.pyc